<div class="body">
  <div class = "span3" style="margin-top:5%; margin-left: 5%; color:white;">	
    <%= form_tag sessions_path do %>
      Username: <%= text_field_tag :username %><br/>
	  Password: <%= password_field_tag :password %><br/>
	  <%= submit_tag("Login", :class => "btn btn-small") %>
    <% end %>
  </div>
</div>

<%#= render "home/footer" %>

<div class ="footer">
</div>