<div class = "footer">
  <footer>
    <div style="padding-top:10px;"><p style="text-align:center; color:white;">GENERAL CONTRACTING & CONSTRUCTION MANAGEMENT &nbsp;&nbsp;&nbsp;   900 BROADWAY, SUITE 802 &nbsp;  NEW YORK, NY 10003 &nbsp;&nbsp;&nbsp;   T: 212.614.3040</p>
  </footer>
</div>