<%= image_tag "joshbell.jpg", style: "height:620px; width:100%;" %>
<div class ="infobar">

<p>This is some place-holder text about Riverside 
Builders.</p>

<p>Riverside Builders is a full-service general contracting and construction management firm, providing exceptional service and workmanship to 
	discerning clients. The company was established 
	in 1865 by Elliot Berkowitz, who was inspired to 
	go into construction by a bad dream he had one 
	night. Fortunately, he found immediate success 
	and fortune, and has grown the company into a 
	huge corporate machine.</p>
 
<p>Elliot enjoys a personal connection with each of 
	his clients, and visits each jobsite regularly to 
	keep tabs on the guys. No problem is too complicated or impossible or tricky for Elliot to solve.</p>
	
<p>Elliot employs many people, who are all wonderful and intelligent.</p>

<p>Riverside Builders has completed an impressive portfolio of projects, including numerous 
	high end residential renovations and new homes 
	throughout New York City, Westchester, and Long 
	Island. Elliot has worked with many of the finest 
	architects around. </p>
	
<p>So this is why you should hire Riverside Builders 
	for your next multi-million dollar project.</p>
</div>

<div class="footer">
</div>
