 <div class= "imagehere"> 
<%= image_tag @site.about_photo.url, class: "background-image" %>
</div>

  <div class ="infobar"> 
    <%= @site.about.html_safe %>
  </div>

<script>
  $('.background-image').load(function(){
	  	  setContentHeightToImageHeight();
	  	  setContainerWidthToImageWidth();
  });
</script>