<div style="text-align:center;  height:620px;">
<%= image_tag "joshbell.jpg", style: "max-height:100%; max-width:100%" %>
</div>

<div class ="infobar">

<h3>RIVERSIDE BUILDERS</h3>

<p>Elliot Berkowitz, President<br/>
900 Broadway, Ste 802<br/>
New York, NY 10003</p>
<br/>
<p>T: 212.614.3040<br/>
F: 212.409.8533</p>
<br/>
<p><a href="mailto:info@rbnewyork.com" target="_blank" >info@rbnewyork.com</a></p>
<p><a href="http://goo.gl/maps/suG7u" target="_blank" >Map</a></p>
</div>
<br/>
<div class="footer">
</div>
