   
<%= image_tag @site.home_photo.url, class: "background-image" %>

   <!-- <div class = "footer">
   	<div style="padding-top:10px;">
   		<p style="text-align:center; color:white;">
   			GENERAL CONTRACTING & CONSTRUCTION MANAGEMENT &nbsp;&nbsp;&nbsp;   900 BROADWAY, SUITE 802 &nbsp;  NEW YORK, NY 10003 &nbsp;&nbsp;&nbsp;   T: 212.614.3040
   		</p>
   	</div> -->


<script>

// $('.background-image').load(function(){
//     // var $this = $(this),
//     //     img_width = $this.width();
//     //     img_height = $this.height();
//     //     $(".container.everything").css("width", img_width);
//     //    
// 	 // setContainerHeightToWindowHeight();
// 	  	  setContentHeightToImageHeight();
// 	  	  setContainerWidthToImageWidth();
  
// });
// 
// 
// 
// 
// 
// var h = windowHeight();
// var w = windowWidth();
// 
// $(window).resize(function(){
// 
//     var nh = windowHeight();
//     var nw = windowWidth();
//  
//     if ((nw > w) || (nh > h)) {  // if getting bigger
//     }
//     if ((nw < w) || (nh < h)){ //if getting smaller
// 	  if (nw < $('.container.everything').width()){
// 		$(".container.everything").$('.background-image').height());
// 		$(".content").css("height", $('.background-image').height()-120);
//      	}
//       if (nh < $(".container.everything").height()){
// 	     $(".content").css("height", windowHeight()-120);
// 	     $(".container.everything").css("width", $('.background-image').width());
//        }
// 	  	// img_width = $('.background-image').width();
// 	  	// 	    $(".container.everything").css("width", img_width);
//     }
//     h = nh; 
//     w = nw; // update h and w;
// });

//$(window).resize(function() {
//	$('.background-image').load(function(){
	   // var $this = $(this),
	    

//	});
//});
//$(window).load(function () {
	
	 // 
	 // setContainerHeightToWindowHeight();
	 // setContentHeightToImageHeight();
	 // setContainerWidthToImageWidth();
	// 
	// 
	//     
	
	// if ($(".background-image").width() > w){
	// 	var w2 = $(".background-image").width();
	// 	$(".container.everything").css("width", w2);
	// }
	
	 // console.log("hi");
	 //      var h = $(".background-image").height();
	 //      console.log(h);
	 //      $(".content").css("height", h-115);
	 //      var w = $(".background-image").width();
	 //            console.log(w);
	 //            $(".container.everything").css("width", w)
	 
   // });

    
	
</script>

   