<div class ="body" style="height:1000px;">
    <div class="span4" style="margin-top: 130px;">
	  <ul class="left-tabs">
		<% @projects.each do |project| %>
		<li><%=link_to "#{project.name.upcase}", project, class: "pro#{project.id}" %></li><br/>
	   <% end %>	
	  </ul>
    </div>	

  <div class="span9 pull-right right-thumbs" style="margin-top: 130px;">	
	  <div class="row pull-right">
		
		<% @projects.each do |project| %>
	      <div class="span3">
		    <div class = "thumb">
		      <%= link_to(image_tag("joshbell.jpg", class:"thumb#{project.id}"), project) %>
		    </div>
	      </div>
	    <% end %>	
	   
	    <!-- <div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project2.html"><img id="thumb2" class ="thumb2" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  	<div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project3.html"><img id="thumb3" class="thumb3" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  </div>
	  	
	  	
	  	<div class="row pull-right">
	  	    <div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project4.html"><img id="thumb4" class="thumb4" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	    <div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project5.html"><img id="thumb5" class="thumb5" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  	<div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project6.html"><img id="thumb6" class="thumb6" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  </div> -->
	
</div>
	
<% content_for(:head) do %>
    <%= javascript_include_tag "selectedprojects.js.erb" %>
<% end %>	
	
	
	
	
</div>



</div><!-- /.container -->


<%= render "home/footer" %>

