<div class ="container" style="min-height:650px;">
	
<div class="row" style="height:50px;">
</div>

<div class="row">
    <div class="span4" style="">
	  <ul class="left-tabs">
		<% @projects.each do |project| %>
		<li><%=link_to "#{project.name.upcase}", project, class: "pro#{project.id}", :"data-target" => project.id %></li><br/>
	   <% end %>	
	  </ul>
    </div>	

    <div class="span6 pull-right right-thumbs" style="">
	  <% @projects.each_slice(3) do |slice| %>	
	    <div class="row-fluid pull-right">
		  <% slice.each do |project| %>
	        <% if project.project_photos.count > 0 %>
		      <div class = "span4 thumb pull-left"> 
		        <%= link_to(image_tag( project.project_photos.first.photo.url(:thumb), class:"thumb#{project.id}", :"data-target" => project.id), project) %>
		      </div>
	        <% end %>
	      <% end %>
	    </div>
	  <% end %>
	  </div>
	</div>	
</div>

<script>
  $('.background-image').load(function(){
	  	  setContentHeightToImageHeight();
	  	  setContainerWidthToImageWidth();
  });
</script>


	   
	    <!-- <div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project2.html"><img id="thumb2" class ="thumb2" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  	<div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project3.html"><img id="thumb3" class="thumb3" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  </div>
	  	
	  	
	  	<div class="row pull-right">
	  	    <div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project4.html"><img id="thumb4" class="thumb4" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	    <div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project5.html"><img id="thumb5" class="thumb5" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  	<div class="span3">
	  		  <div class = "thumb">
	  		    <a href="/projects/project6.html"><img id="thumb6" class="thumb6" src="/img/riverside/placeholder_thumb.png"></a>
	  		  </div>
	  	    </div>
	  	  </div> -->
	


